[submodule "deps/coreutils"]
	path = deps/coreutils
	url = https://github.com/microsoft/uutils-coreutils.git
[submodule "deps/findutils"]
	path = deps/findutils
	url = https://github.com/uutils/findutils.git
[submodule "deps/grep"]
	path = deps/grep
	url = https://github.com/uutils/grep.git
[submodule "deps/sed"]
	path = deps/sed
	url = https://github.com/uutils/sed.git
[submodule "deps/tar"]
	path = deps/tar
	url = https://github.com/uutils/tar.git
[submodule "deps/diffutils"]
	path = deps/diffutils
	url = https://github.com/uutils/diffutils.git
