[submodule "deps/coreutils"]
	path = deps/coreutils
	url = git@github.com:microsoft/uutils-coreutils.git
[submodule "deps/findutils"]
	path = deps/findutils
	url = git@github.com:uutils/findutils.git
[submodule "deps/grep"]
	path = deps/grep
	url = git@github.com:uutils/grep.git
[submodule "deps/sed"]
	path = deps/sed
	url = git@github.com:uutils/sed.git

